<div class="ntm-table-data ">
  <mat-card>
    <mat-toolbar color="accent" *ngIf="params.toolbar">
      <div id="toolbar-title" >{{params.toolbar.title}}</div>
      <div *ngIf="params.toolbar.actionButton" id="action-button-area">
        <div *ngIf="params.list.permissions.includes('Incluir') "
          class="action-button alternative">
          <button mat-raised-button (click)="setOutput(params.toolbar.actionButton.value)" color="{{ params.toolbar.actionButton.color }}">{{ params.toolbar.actionButton.value }}</button>
        </div>
      </div>

      <div id="toolbar-action" class="custom-input">  
        <a *ngIf="params.toolbar && params.toolbar.delete && (checkAllController || checkedItem)">
          <mat-icon (click)="openDialogToDelete(params.toolbar.delete,null)"
            class="vertical-align-m toolbar-icon">delete</mat-icon>
        </a>

        <a>
          <mat-icon class="vertical-align-m toolbar-icon" *ngIf="!params.toolbar.search.advancedSearch" (click)="searchInputToggle()">search</mat-icon>
        </a>
        <mat-form-field  [ngClass]="[searchInput ? 'fade-input' : 'show-input']" color="primary">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar" id="input-search" field="key" #searchKey>
        </mat-form-field>
      </div>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoadingList"></mat-progress-bar>

    <div style="padding: 10px 20px;" *ngIf="!isLoadingList && this.params.toolbar.search.format">        
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="openSearch($event)">
            <mat-panel-title>
              <mat-icon style="margin-top: -3px; margin-right: 5px;">search</mat-icon> Pesquisa avançada
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-progress-bar mode="indeterminate" *ngIf="!searching"></mat-progress-bar>
          <form [formGroup]="advancedSearchForm" style="display: flex; flex-wrap: wrap;" *ngIf="searching">
            <div id="grid" *ngFor="let item of params.toolbar.search.format">
              <mat-form-field class="example-full-width" *ngIf="item.component == 'autocomplete'">
                <input placeholder="{{item.placeholder}}" matInput [formControl]="pesquisa[item.field]"  
                [matAutocomplete]="autoActivity" (keyup)="searchAdvance()" formControlName="{{item.field}}" [(ngModel)]="advancedSearchForm.value[item.field]">
                <mat-autocomplete #autoActivity="matAutocomplete" (optionSelected)="searchAdvance(); filterArray(item, $event)">
                  <mat-option *ngFor="let data of filteredOptions[item.field] | async" [value]="!item.value ? data[item.filter] : data[item.value]">
                    {{ data[item.filter] }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field *ngIf="item.component == 'input'">
                <input type="text" matInput *ngIf="item.date" placeholder="{{item.placeholder}}" formControlName="{{item.field}}" [textMask]="{mask: mask.date}" (keyup)="searchAdvance()">
                <input type="text" matInput *ngIf="!item.date" placeholder="{{item.placeholder}}" formControlName="{{item.field}}" (keyup)="searchAdvance()">
              </mat-form-field>
              <mat-form-field *ngIf="item.custom">
                <mat-select placeholder="{{item.placeholder}}" formControlName="{{item.field}}" (selectionChange)="searchAdvance()">
                  <mat-option *ngFor="let dado of item.custom" [value]="dado[item.value]">
                    {{ dado[item.filter] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <mat-table #table [dataSource]="dataSource"  matSort> 
      <ng-container matColumnDef="id" *ngIf="params.list.edit && params.list.permissions.includes(includeDelete)">
        <mat-header-cell *matHeaderCellDef class="remove-colunm"> <mat-checkbox (change)="checkAllToggle($event)" [checked]="checkAllItens"></mat-checkbox> </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element; let i = index" class="remove-colunm"> 
          <mat-checkbox class="list-item" #myCheckbox [value]="element.id" 
          (change)="checkItem(element.id, $event)" *ngIf="checkException(element,'Delete')"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container *ngFor="let column of columns; let i = index;"  [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.header}} <mat-icon class="icon-sort">sort_by_alpha</mat-icon> </mat-header-cell>
        <mat-cell *matCellDef="let element">          
          {{ column.cell(element) }}          
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updated_at" *ngIf="params.list.permissions.includes('Editar') && !notEdit">
        <mat-header-cell mat-header-cell *matHeaderCellDef class="edit-colunm">  </mat-header-cell>
        <mat-cell mat-cell class="edit-colunm last" *matCellDef="let element"> 
          <a *ngIf="params.list.edit && checkException(element,'Edit')" (click)="onClickEdit(params.list.edit.route, element)" matTooltip="Editar">
            <mat-icon class="edit">edit</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator class="pages" [length]="5" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25]" ></mat-paginator>
  </mat-card>
</div>