<div id="close">
  <a (click)="dialogRef.close()">
    <mat-icon class="mat-18">close</mat-icon>
  </a>

  <h4 mat-dialog-title>Alterar senha</h4>
</div>


<form [formGroup]="resetPassForm" (ngSubmit)="onResetPassSubmit()">
  
  <div class="form-pattern">
    <mat-icon class="mat-18 icon-pattern">lock_open</mat-icon>

    <mat-form-field>
      <input matInput formControlName="newPassword"
      type="password" placeholder="Nova Senha"
      required (focusout)="onPasswordChange()">
    </mat-form-field>
    <mat-error *ngIf="resetPassForm.get('newPassword').errors && resetPassForm.get('newPassword').touched">
        {{resetPassForm.get('newPassword').errors.message}}
      </mat-error>
  </div>

  <div class="form-pattern">
    <mat-icon class="mat-18 icon-pattern">lock_open</mat-icon>

    <mat-form-field>
      <input matInput formControlName="repeatPassword"
      type="password" placeholder="Confirmar nova senha"
      required>
      <mat-error *ngIf="resetPassForm.get('repeatPassword').errors && resetPassForm.get('repeatPassword').touched">
        {{resetPassForm.get('repeatPassword').errors.message}}
      </mat-error>
    </mat-form-field>
  </div>

  <mat-dialog-actions id="footer-area">
    <div>
      <button mat-raised-button type="submit" color="primary" [disabled]="resetPassForm.invalid">Atualizar</button>
    <a mat-raised-button (click)="onDialogClose()">Cancelar</a>
    </div>
  </mat-dialog-actions>
</form>
