mat-hint {
  color: red;
}

.box-left {
  float: left;
  padding: 5px;
}

.box-clear {
  clear: both;
}

mat-card-action {
  display: flex;
}

#close a {
  float: left;
  cursor: pointer;
}

#close div {
  float: left;
}

#footer-area {
  display: flex;
  justify-content: space-between;
}

#footer-area p {
  width: 60%;
  font-size: 10px;
  text-align: right;
}
