<div id="close">
  <a (click)="close()">
    <mat-icon class="icon-pattern">close</mat-icon>
  </a>
</div>

<h4 mat-dialog-title class="title">CADASTRO DE USUÁRIO</h4>

<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
  <div>
    
    <div class="form-pattern">      
      <mat-form-field class="half-input">
        <mat-icon class="icon-pattern" matPrefix>person</mat-icon>
        <input matInput formControlName="name" type="text" placeholder="Nome completo">
        <mat-error *ngIf="registerForm.get('name').errors && registerForm.get('name').touched">
          {{registerForm.get('name').errors.message}}</mat-error>
      </mat-form-field>
    </div>     
  
    <div class="form-pattern">
      <mat-form-field class="half-input">
        <mat-icon class="icon-pattern" matPrefix>email</mat-icon>
        <input matInput formControlName="email" type="text" placeholder="E-mail" required>        
        <mat-error *ngIf="registerForm.get('email').errors && registerForm.get('email').touched">
          {{registerForm.get('email').errors.message}}</mat-error>
      </mat-form-field>
    </div>
  
    <div [ngClass]="widthHalf">
      <mat-form-field>
        <mat-icon class="icon-pattern" matPrefix>lock</mat-icon>
        <input matInput formControlName="password" type="password" placeholder="Senha" required>        
        <mat-error *ngIf="registerForm.get('password').errors && registerForm.get('password').touched">
          {{registerForm.get('password').errors.message}}</mat-error>
      </mat-form-field>
    </div>
  
    <div [ngClass]="widthHalf">
      <mat-form-field>
        <mat-icon class="icon-pattern" matPrefix>lock</mat-icon>  
        <input matInput formControlName="repeatPassword" type="password" placeholder="Repetir senha" required>
        <mat-error *ngIf="registerForm.get('repeatPassword').errors && registerForm.get('repeatPassword').touched">
          {{registerForm.get('repeatPassword').errors.message}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <mat-dialog-actions class="box-clear">
    <div class="box-left">
      <button mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid">Registrar</button>
    </div>
    <div class="box-clear"></div>
  </mat-dialog-actions>
</form>
