<!-- <ntm-table-data [params]="paramsToTableData" (actionToOutput)="eventUserParticipation($event)"></ntm-table-data> -->
<app-ntm-table-data *ngIf="!loading" [params]="paramsToTableData" (actionToOutput)="eventUserParticipation($event)"></app-ntm-table-data>