mat-hint {
  color: red;
}

.box-left {
  float: left;
  padding: 5px;
}

.box-clear {
  clear: both;
}

mat-card-action {
  display: flex;
}

#close a {
  cursor: pointer;
}

#close{
  float: right;
}

.title{
  text-align: center;
  font-size: 24px;
}
