<div id="close">
  <a (click)="close()">
    <mat-icon class="icon-pattern">close</mat-icon>
  </a>
</div>

<h4 mat-dialog-title class="title">ALTERAR SENHA</h4>

<form [formGroup]="updatePassForm" (ngSubmit)="onUpdatePassSubmit()">

  <div class="form-pattern">    
    <mat-form-field>
      <mat-icon class="mat-18 icon-pattern" matPrefix>lock</mat-icon>
      <input matInput formControlName="password" type="password" placeholder="Senha Atual" required>
      <mat-error *ngIf="updatePassForm.get('password').errors && updatePassForm.get('password').touched">{{updatePassForm.get('password').errors.message}}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-pattern">    
    <mat-form-field>
      <mat-icon class="mat-18 icon-pattern" matPrefix>lock</mat-icon>
      <input matInput formControlName="newPassword" type="password" placeholder="Nova Senha" required>
      <mat-error *ngIf="updatePassForm.get('newPassword').errors && updatePassForm.get('newPassword').touched">{{updatePassForm.get('newPassword').errors.message}}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-pattern">    
    <mat-form-field>
      <mat-icon class="mat-18 icon-pattern" matPrefix>lock</mat-icon>
      <input matInput formControlName="repeatPassword" type="password" placeholder="Confirme nova Senha" required>
      <mat-error *ngIf="updatePassForm.get('repeatPassword').errors && updatePassForm.get('repeatPassword').touched">{{updatePassForm.get('repeatPassword').errors.message}}</mat-error>
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <div>
      <button mat-raised-button type="submit" color="primary" [disabled]="updatePassForm.invalid">Atualizar</button>
      <a mat-raised-button (click)="dialogRef.close()">Cancelar</a>
    </div>
  </mat-dialog-actions>
</form>
