<div class="form-box">
  <div class="form-box-title">
    <div>{{title}}</div>
  </div>
  <mat-card>
    <form [formGroup]="invitationForm" #formDirective="ngForm" (ngSubmit)="onInvitationSubmit()">
      <div class="form-pattern">
        <mat-icon class="mat-18 icon-pattern">email</mat-icon>

        <mat-form-field class="half-input">
          <input matInput formControlName="email" type="email" placeholder="E-mail" required>
          <mat-error *ngIf="invitationForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-pattern" id="profile-checkboxes">
        <div class="form-pattern-checkbox-area">
          <mat-icon class="mat-18 icon-pattern">group</mat-icon>
          <span class="form-pattern-checkbox-title">Perfis vinculados</span>
        </div>
        <div class="flex" *ngFor="let profile of profileArray" >
          <mat-checkbox [value]="profile.id" [checked]="profile._checked" class="profile-checkboxes"
          (change)="addProfileId($event)" [disabled]="profile._disabled">{{ profile.description }}</mat-checkbox>

        </div>
        <!-- <div class="form-pattern-checkbox-iteration">
          <mat-checkbox *ngFor="let profile of profileArray" [value]="profile.id" [checked]="profile._checked" class="profile-checkboxes"
          [ngClass]="widthThird" (change)="addProfileId($event)"
          [disabled]="profile._disabled">{{ profile.description }}</mat-checkbox>                    
        </div> -->
      </div>

      <div style="clear: both;"></div>
      <div class="buttons-pattern">
        <button mat-raised-button type="submit" color="primary" 
        [disabled]="invitationForm.invalid || (!invitationForm.touched && invitationForm.get('email').value=='') || invitationForm.value.access_profiles.length < 1">{{submitButton}}</button>

        <a mat-raised-button (click)="clearForm(formDirective)" [disabled]="!invitationForm.controls.email && profileArray.length < 1"
          [disabled]="invitationForm.touched ">Limpar</a>

        <a mat-raised-button routerLink="/main/invitation">Voltar</a>
      </div>
    </form>
  </mat-card>
</div>
