@import '~@angular/material/theming';
@include mat-core();

$custom-default: mat-palette($mat-grey, 300);
$custom-primary: mat-palette($mat-teal, 900);
$custom-accent: mat-palette($mat-teal, 500);
$custom-warning: mat-palette($mat-red, 700);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warning);

@include angular-material-theme($custom-theme);

$alt-primary: mat-palette($mat-grey);
$alt-accent: mat-palette($mat-green, 600);
$alt-warning: mat-palette($mat-red);

$alt-theme: mat-light-theme($alt-primary, $alt-accent, $alt-warning);

.alternative {
    @include angular-material-theme($alt-theme);
}
