<div class="form-box">
  <div class="form-box-title">
    <div>Dados Pessoais</div>
  </div>

  <mat-card>
    <form (ngSubmit)="onUserProfileFormSubmit()" [formGroup]="userProfileForm" *ngIf="!loading">
      <div class="flex">
        <mat-form-field class="initial-input">          
          <mat-icon class="icon-pattern" matPrefix>person</mat-icon>
          <input matInput placeholder="Nome completo" formControlName="name" maxlength="191" autofocus validatorField tag='input' required>
        </mat-form-field>
      </div>
      <div>  
        <mat-form-field class="half-input">
          <mat-icon class="icon-pattern" matPrefix>email</mat-icon>
          <input matInput placeholder="Email" type="text" formControlName="email" maxlength="191" required 
          validatorField tag='input'>
        </mat-form-field>
      </div>
      
      <div style="clear: both;"></div>

      <div class="box-clear">
        <div class="box-left">
            *Campos Obrigatórios<br>
        </div><br>

        <button mat-raised-button type="submit" color="primary" [disabled]="!userProfileForm.valid">Atualizar</button>
        <a mat-raised-button color="primary" (click)="onUpdatePass()" [disabled]="user.is_user_ad==1">Alterar Senha</a>
      </div>
    </form>
  </mat-card>
