#div-form {
    display: flex;
    justify-content: space-between;
}

#div-form div:nth-child(1) {
    width: 60%;
}

#div-form div:nth-child(2) {
    width: 20%;
}

#div-form div:nth-child(3) {
    width: 20%;
}

mat-form-field {
    width: 90%;
}

mat-icon {
    vertical-align: middle;
}

mat-hint{
    color: red
}