a {
    cursor: pointer;
}

mat-form-field {
    width: 100%;
}

mat-error {
    margin-top: 0;
    font-size: 10px;
}

#close {
    position: relative;
    text-align: right;
    background: transparent;
}

#text {
    margin-bottom: 10px;
}