<div id="close">
  <a (click)="close()">
    <mat-icon class="mat-18">close</mat-icon>
  </a>
</div>

<h4 mat-dialog-title><img src="/assets/img/logo.png" alt="Logo" height="20px"> Recuperar Senha</h4>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" >
  <div id="text">
    Informe seu e-mail registrado no sistema e um e-mail para recuperação da senha de acesso será enviado ao seu endereço de e-mail.
  </div>

  <mat-form-field>
    <input type="text"
    formControlName="field_0_email"
    [ngModel]="somethingChild?.email"
    matInput placeholder="Digite seu email">
  </mat-form-field>

  <mat-error *ngIf="forgotPasswordForm.controls.field_0_email.hasError('required') && forgotPasswordForm.controls.field_0_email.touched">
    Campo obrigatório
  </mat-error>

  <mat-error *ngIf="!forgotPasswordForm.controls.field_0_email.hasError('required') && !forgotPasswordForm.controls.field_0_email.valid && forgotPasswordForm.controls.field_0_email.touched">
    Email inválido
  </mat-error>


  <mat-dialog-actions>
      <button type="submit" mat-raised-button color="primary" [disabled]="!forgotPasswordForm.valid" class="far-left">
        Recuperar
      </button>
  </mat-dialog-actions>
</form>
